#parse("base.html")
#@mainLayout()
<img id="fractalImage"/>
<div style="position: absolute; top: 5px;left:5px;background-color: white">
    <button onclick="move('x',-1)">Left</button>
    <button onclick="move('x',1)">Right</button>
    <button onclick="move('y',-1)">Up</button>
    <button onclick="move('y',1)">Down</button>
    <button onclick="move('z',-1)">Zoom +</button>
    <button onclick="move('z',1)">Zoom -</button>
    <button onclick="goToDetails()">Info</button>
    <label>
        Algorithm
        <select onchange="changeAlgorithm(this.value)">
            <option value="mandelbrot">Mandelbrot</option>
            <option value="julia">Julia</option>
        </select>
    </label>
    <button onclick="reInitPosition()">Init</button>
</div>
<script>
    let positions = {
        x: 0,
        y: 0,
        z: 4,
    };
    let algorithm = "mandelbrot";
    let step = 5;

    const FRACTAL_IMAGE = document.getElementById("fractalImage");
    const INPUT_STEP = document.getElementById("inputStep");

    let width = window.innerWidth;
    let height = window.innerHeight;

    changeFractalImage();

    function move(axis, value) {
        if(axis === "z"){
            if(value < 0){
                positions[axis] *= 0.9;
            }else {
                positions[axis] /= 0.9;
            }
        }else{
            if(value < 0){
                positions[axis] -= (positions.z/8);
            }else {
                positions[axis] += (positions.z/8);
            }
        }
        onPosChange();
    }

    function onPosChange() {
        console.log(positions);
        changeFractalImage();
    }
    function changeFractalImage() {
        FRACTAL_IMAGE.src = getFractalUrl();
    }
    function goToDetails() {
        location.href = getFractalUrl()+"/details";
    }

    function changeStep(value) {
        step = value;
    }

    function getFractalUrl() {
        return `fractals/${algorithm}/${width}/${height}/${positions.x}/${positions.y}/${positions.z}`;
    }

    function changeAlgorithm(newAlgorithm) {
        algorithm = newAlgorithm;
        changeFractalImage();
    }

    function reInitPosition() {
        positions = {
            x: 0,
            y: 0,
            z: 4,
        };
        onPosChange();
    }

</script>
#end
