#parse("base.html")
#@mainLayout()
<img id="fractalImage"/>
<div style="position: absolute; top: 0;background-color: white">
    <button onclick="move('x',-1)">Left</button>
    <button onclick="move('x',1)">Right</button>
    <button onclick="move('y',-1)">Up</button>
    <button onclick="move('y',1)">Down</button>
    <button onclick="move('z',-1)">Zoom +</button>
    <button onclick="move('z',1)">Zoom -</button>
    <button onclick="goToDetails()">Info</button>
    <label>
        Change step :
        <input id="inputStep" type="number" onchange="changeStep(this.value)"/>
    </label>
</div>
<script>
    const positions = {
        x: 0,
        y: 0,
        z: 4,
    };
    let step = 5;

    const FRACTAL_IMAGE = document.getElementById("fractalImage");
    const INPUT_STEP = document.getElementById("inputStep");

    let width = window.innerWidth;
    let height = window.innerHeight;
    let count = 1;

    changeFractalImage();
    INPUT_STEP.value = step;

    function move(axis,value) {
        switch(axis){
            case 'z':
                if(value < 0){
                    value = value/count;
                    count++;
                }else if(value > 0 && count > 1){
                    count--;
                    value = value/count;
                }
            break;
            default:
                value *= (Math.log(2) * positions.z) / step;
            break;
        }
        positions[axis] += value;
        onPosChange();
    }

    function onPosChange() {
        console.log(positions);
        changeFractalImage();
    }
    function changeFractalImage() {
        FRACTAL_IMAGE.src = getFractalUrl();
    }
    function goToDetails() {
        location.href = getFractalUrl()+"/details";
    }

    function changeStep(value) {
        step = value;
    }

    function getFractalUrl() {
        return `fractals/${width}/${height}/${positions.x}/${positions.y}/${positions.z}`;
    }

</script>
#end
